@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap');

$hfontfamily: 'Press Start 2P';
$h1fontsize: 40px;
$white: #FFFFFF;
$hfontsize: 25px;
$hcolor: #F4BE34;
$font2: 'Roboto';
$paraSize: 1em;
$black: #000000;
$blueColor: #001EA3;

@mixin p($color) {
    font-family: $font2;
    font-size: $paraSize;
    color: $color;
    font-weight: 400;
}

@mixin header1 {
    font-family: $hfontfamily;
    font-size: $h1fontsize;
    color: $white;
    font-weight: bold;
}

@mixin header2 {
    @mixin header3 {
        font-family: $hfontfamily;
        font-size: $hfontsize;
        color: $hcolor;
        font-weight: bold;
    }

}

@mixin box($width, $height, $background-color, $color, $text-align, $grid-area) {
    width: $width;
    height: $height;
    background-color: $background-color;
    color: $color;
    text-align: $text-align;
    grid-area: $grid-area
}

.banner {
    background-color: $blueColor;
    color: $white;
    font-family: $hfontfamily;
    display: flex;
    padding: 10px;
    margin-left: 15%;
    height: 100px;
    justify-content: right;
    align-items: center;

    h2 {
        font-family: $font2;
    }
}