@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap');

$hfontfamily: 'Press Start 2P';
$h1fontsize: 40px;
$white: #FFFFFF;
$hfontsize: 20px;
$yellowColor: #F4BE34;
$font2: 'Roboto';
$paraSize: 1em;
$black: #000000;
$blueColor: #001EA3;
$redColor: #FD0007;
$greenColor: #03f807;
$machineColor: #272F39;

@mixin p($color) {
    font-family: $font2;
    font-size: $paraSize;
    color: $color;
    font-weight: 400;
    line-height: 1.5;
}

@mixin header1 {
    font-family: $hfontfamily;
    font-size: $h1fontsize;
    color: $white;
    font-weight: bold;
}

@mixin header2 {
    font-family: $font2;
}

@mixin header3 {
    h3 {
        font-family: $hfontfamily;
        font-size: $hfontsize;
        font-weight: bold;
        margin-bottom: 25px;
        text-align: center;
    }

}

@mixin box($width, $height, $background, $color, $text-align) {
    width: $width;
    height: $height;
    background: $background;
    color: $color;
    text-align: $text-align;
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
}

*,
html {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    direction: ltr;
    z-index: 2;
}

body {
    background: $machineColor;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    height: 100%;
    font-family: $font2;
}

.page-wrapper::before {
    content: "";
    background-color: $machineColor;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.page-wrapper {
    position: relative;
    width: 100%;
    max-width: 1490px;
    margin-top: 70px;
    background: $black url(./images/SVG/Asset\ 3.svg) no-repeat;
    background-size: 200px;
    background-position: 83% 16%;
    margin-bottom: 50px;
    box-shadow: 0 -5px 10px rgba(255, 255, 255, 0.1), inset 0 -5px 10px rgba(255, 255, 255, 0.9);
}

#zen-supporting:not(#zen-explanation) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

@media (max-width: 1024px) {
    .page-wrapper {
        background-position: 90% 27%;
        background-size: 220px;
    }
}