@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap");
*,
html {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  direction: ltr;
  z-index: 2;
}

body {
  background: #272F39;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100%;
  font-family: "Roboto";
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Press Start 2P";
}

.page-wrapper::before {
  content: "";
  background-color: #272F39;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin-top: 70px;
  background: #000000 url(/images/SVG/Asset\ 3.svg) no-repeat;
  background-size: 200px;
  background-position: 83% 13%;
  margin-bottom: 50px;
  box-shadow: 0 -5px 10px rgba(255, 255, 255, 0.1), inset 0 -5px 10px rgba(255, 255, 255, 0.9);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro header {
  width: 90%;
  height: 100px;
  background: rgba(0, 30, 163, 0.75);
  color: #FFFFFF;
  text-align: right;
  padding: 20px;
  margin: 0 20px;
  font-family: "Press Start 2P";
  margin-top: 50px;
  padding-top: 10px;
}
.intro header h2 {
  margin-top: 10px;
  font-family: "Roboto";
}

.summary {
  width: 55%;
  height: 100px;
  background: rgba(3, 248, 7, 0.8);
  color: #000000;
  text-align: left;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -10px;
  margin-right: 5vw;
  margin-bottom: 45px;
  padding: 5px;
}
.summary a {
  text-decoration: none;
  color: #000000;
}

.preamble {
  width: 50%;
  height: 325px;
  background: #FD0007;
  color: #FFFFFF;
  text-align: right;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
  align-self: flex-start;
  margin-left: 3vw;
  padding: 10px;
  padding-top: 50px;
}
.preamble h3 {
  font-family: "Press Start 2P";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.explanation {
  width: 25%;
  height: 700px;
  background: #001EA3;
  color: #FFFFFF;
  text-align: left;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px;
  position: relative;
  margin-top: -55px;
  margin-left: 5vw;
  z-index: 2;
}

.participation {
  width: 48%;
  height: 600px;
  background: #F4BE34;
  color: #000000;
  text-align: left;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px;
  position: relative;
  padding-top: 75px;
  margin-top: -600px;
  margin-left: 30vw;
  z-index: 1;
}

.benefits {
  width: 80%;
  height: 125px;
  background: #FD0007;
  color: #FFFFFF;
  text-align: right;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 155px;
  margin-left: 3vw;
  position: relative;
}

.requirements {
  width: 50%;
  height: 700px;
  background: #03f807;
  color: #000000;
  text-align: left;
  padding: 20px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -150px;
  margin-left: 25vw;
  padding-top: 175px;
}

.requirements p:nth-of-type(5) {
  background-color: #F4BE34;
  margin-top: -300px;
  margin-left: -750px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding-top: 30%;
  padding-right: 5%;
  padding-left: 15%;
  text-align: center;
}

.sidebar {
  width: 96%;
  height: 300px;
  background: none;
  color: #FFFFFF;
  text-align: left;
  padding: 20px;
  margin: 0 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.design-archives {
  background-color: #FD0007;
  color: white;
}
.design-archives h3 {
  padding: 10px;
}
.design-archives ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.design-archives:hover ul {
  max-height: 75px;
}

.zen-resources {
  background-color: #F4BE34;
  color: white;
}
.zen-resources h3 {
  padding: 10px;
}
.zen-resources ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.zen-resources:hover ul {
  max-height: 75px;
}

.design-selection {
  background-color: #001EA3;
  color: white;
}
.design-selection h3 {
  padding: 10px;
}
.design-selection ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease;
}

.design-selection:hover ul {
  max-height: 100%;
}

ul {
  list-style: none;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  display: flex;
  background: transparent url(images/SVG/Asset\ 2.svg) no-repeat;
  height: 150px;
  max-width: 1600px;
  background-size: contain;
  background-position: bottom;
  justify-content: space-around;
  align-items: end;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -40px;
}

footer a {
  font-family: "Roboto";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 1.5;
  background-color: grey;
  width: 10%;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  background-color: #F4BE34;
  color: black;
}

@media (max-width: 1600px) {
  .page-wrapper {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .page-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .intro header,
  .summary,
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements,
  .requirements p:nth-of-type(5),
  .sidebar {
    width: 95%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
  .intro header {
    width: 80%;
    margin-right: 10px;
  }
  .summary {
    margin-top: -20px;
  }
  .preamble {
    padding-bottom: 150px;
  }
  .explanation {
    margin-top: -150px;
    width: 70%;
    margin-right: 10px;
  }
  .participation {
    width: 80%;
    padding-top: 150px;
    margin-left: 10px;
    margin-top: -125px;
    padding-bottom: 100px;
  }
  .benefits {
    width: 50%;
    margin-right: 10px;
    margin-top: -100px;
  }
  .requirements {
    padding-top: 120px;
    margin-top: -100px;
    width: 90%;
  }
  .requirements p:nth-of-type(5) {
    border-radius: 0px;
    margin-top: 50px;
  }
  .design-archives,
  .design-selection,
  .zen-resources {
    padding-bottom: 3px;
    margin-bottom: 20px;
  }
  .design-archives ul,
  .design-selection ul,
  .zen-resources ul {
    max-height: 100%;
  }
  footer {
    height: 150px;
    max-width: 1600px;
    background-size: contain;
    background-position: bottom;
    justify-content: space-evenly;
    align-items: end;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  footer a {
    margin: 10px;
    font-size: 12px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
}

/*# sourceMappingURL=style.css.map */
