@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap");
@keyframes shiver {
  0% {
    transform: translate(0, 0);
    /* Start at the original position */
  }
  25% {
    transform: translate(-2px, -2px);
    /* Move slightly to the top-left */
  }
  50% {
    transform: translate(0px, 0px);
    /* Move slightly to the bottom-right */
  }
  75% {
    transform: translate(-2px, -2px);
    /* Move slightly to the top-left again */
  }
  100% {
    transform: translate(0, 0);
    /* End at the original position */
  }
}
*,
html {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  direction: ltr;
  z-index: 1;
}

body {
  background: #272F39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper {
  position: relative;
  /* Set the position property to relative */
}

.page-wrapper::before {
  content: "";
  background-color: #272F39;
  /* Set the background color to your desired color */
  width: 100%;
  height: 98px;
  /* Adjust the height as needed */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.page-wrapper {
  display: grid;
  width: 80%;
  margin-top: 100px;
  background: #000000 url(/images/SVG/Asset\ 3.svg) no-repeat;
  background-size: 200px;
  background-position: 85% 15%;
  margin-bottom: 50px;
  box-shadow: 0 -5px 10px rgba(255, 255, 255, 0.1), inset 0 -5px 10px rgba(255, 255, 255, 0.9);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro header {
  width: 85%;
  height: 100px;
  background: rgba(0, 30, 163, 0.75);
  color: #FFFFFF;
  text-align: right;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  font-family: "Press Start 2P";
  margin-top: 50px;
  padding-top: 10px;
}
.intro header h2 {
  margin-top: 10px;
  font-family: "Roboto";
}

.summary {
  width: 50%;
  height: 80px;
  background: rgba(3, 248, 7, 0.8);
  color: #000000;
  text-align: center;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #000000;
  font-weight: 400;
  align-self: center;
  margin-top: -10px;
  margin-left: 40%;
  margin-bottom: 15px;
  padding: 5px;
  text-align: right;
  text-justify: center;
}
.summary a {
  text-decoration: none;
  color: #000000;
}

.preamble {
  width: 45%;
  height: 425px;
  background: #FD0007;
  color: #FFFFFF;
  text-align: right;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: 400;
  align-self: flex-start;
  margin-left: 100px;
  padding: 10px;
}
.preamble h3 {
  font-family: "Press Start 2P";
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.explanation {
  width: 90%;
  height: 400px;
  background: #001EA3;
  color: #FFFFFF;
  text-align: right;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  height: 200px;
  padding: 10px;
  margin-top: 20px;
}

.participation {
  width: 90%;
  height: 300px;
  background: #F4BE34;
  color: #000000;
  text-align: left;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  padding: 10px;
  margin-top: 20px;
}

.benefits {
  width: 80%;
  height: 200px;
  background: #FD0007;
  color: #FFFFFF;
  text-align: right;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  margin-top: 10px;
}

.requirements {
  width: 90%;
  height: 500px;
  background: #03f807;
  color: #000000;
  text-align: center;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  margin-top: 10px;
}

.sidebar {
  width: 90%;
  height: 500px;
  background: #001EA3;
  color: #FFFFFF;
  text-align: left;
  animation: shiver 5s infinite;
  padding: 10px;
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 100px;
  z-index: 0;
}

.sidebar a {
  background-color: #001EA3;
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  background: transparent url(images/SVG/Asset\ 2.svg) no-repeat;
  height: 150px;
  max-height: 175px;
  background-size: contain;
  background-position: bottom;
  justify-content: space-around;
  align-items: end;
  position: fixed;
  bottom: 0;
  width: 85%;
  margin-left: -10px;
}

footer a {
  background-color: grey;
  width: 50%;
  height: 10%;
  margin: 10px;
  font-size: 12px;
  border-radius: 10px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
